<div id="business-card">
  <div class="photo"></div>
  <p class="description">
    Welcome to my blog!
  </p>
  <div class="info">
    <span class="name">Collin J. Doering</span>
    <a class="email" href="mailto:collin.doering@rekahsoft.ca">collin.doering@rekahsoft.ca</a>
    <a class="gpg-key" href="/files/collin-doering.gpg">4096R/E05BFEC</a>
  </div>
</div>
