<div id="footer-wrap">
  <div class="container">
    <footer>
      <div class="six columns alpha" id="footer-left">
        <p>&copy; Collin Doering 2016</p>
      </div>
      <div class="six columns omega" id="footer-right">
        <p>
          Proudly crafted using
          <a href="https://www.gnu.org/philosophy/free-sw.html">Free Software</a>
        </p>
      </div>
    </footer>
  </div>
</div>
